.main {
  width: 80%;
  margin: auto;
}

.header {
  text-align: center
}

.buttons {
  text-align: center;
}

.post {
  text-align: center;
  padding: 1em;
  background: lightcoral;
  margin-top: 1em;
}

